html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:none;}
body {
	font-family:helvetica, arial, sans-serif;
	background-color:#e5e5e5;
}
.cf:before,
.cf:after {
    content:" ";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}
.ex.css {
	height:200px;
}

article {}
h1 {
	margin-bottom:5px;
}
.tabs {
	list-style-type: none;
	display:block;
	margin-bottom:5px;
}
.tabs li {
	font-size:.7em;
	text-transform: uppercase;
	border-radius:3px;
	font-weight:900;
	padding:3px 7px;
	border:1px solid transparent;
	color:#333;
	display:inline-block;
}
.tabs li:hover {
	cursor:pointer;
	border:1px solid #999;
}
.tabs li.current {
	border:1px solid steelblue;
}
.live,
.code-example {
	box-sizing:border-box;  
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	padding:10px;
	background-color:#f6f6f6;
	width:100%;
}
.highlight {
	background-color:transparent;
	overflow:auto;
}
.live {
	border:none;
	width:950px;
	height:550px;
	overflow:none;
	display:none;
}
.live.active {
	display:block;
}
p {
	font-size:.8em;
	color:#444;
	max-width:650px;
	margin-bottom:10px;
	line-height:1.3em;
}
#shadow {
	position:fixed;
	width:100%;
	height:20px;
	top:-20px;
	box-shadow:0 0 5px 1px #222;
}

nav {
	position:fixed;
	left:0;
	top:0;
	width:240px;
	bottom:0;
	background-color:#ecf2f7;
	border-right:1px solid #90b4d2;
}
nav h1 {
	font-weight:900;
	font-size:4.5em;
	letter-spacing:-12px;
	opacity:.3;
}
#examples ol {
	list-style-type: none;
}
#examples li {
	border-bottom:1px solid #c7d9e8;
}
#examples li a {
	box-sizing:border-box;  
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	text-transform:uppercase;
	text-decoration:none;
	color:#1c3448;
	font-size:0.8em;
	font-weight:600;
	display:block;
	padding:8px;
}
#examples li a:hover {
	background-color:#dae6f0;
	border-left:4px solid #588ebb;
	padding-left:10px;
}
.container {
	position:absolute;
	left:250px;
	right:0;
	top:15px;
	right:10px;
}
.container article {
	margin-bottom:30px;
}
article h1 a {
	text-decoration: none;
	color:#333;
}
article h1 a:hover:after {
	content:"#";
	color:steelblue;
	margin-left:10px;
	font-weight:100;
	font-size:.9em;
}
section {
	padding:20px 0;
	height:500px;
}