---
title: Home
weight: 1
---

{% include header.html %}
<nav>
	<h1>D3.Geo</h1>
	<div id="examples">
		<ol>
			{% for post in site.posts reversed %}
			<li><a href="#{{ post.date | date: '%Y' }}">{{ post.title }}</a></li>
			{% endfor %}
		</ol>
	</div>
</nav>
<div class="container">
	{% for post in site.posts reversed %}
		<article id="{{ post.date | date: '%Y' }}">
			<h1><a href="#{{ post.date | date: '%Y' }}">{{ post.title }}</a></h1>
			<!-- <p>{{ post.example_desc }}</p> -->
			<ul class="tabs" id="{{ post.date | date: '%Y' }}-tabs">
				<li class="show-code current">code</li>
				<li class="show-live" data-url="{{ post.d3_example }}">example</li>
			</ul>
			<div class="example-content" id="{{ post.date | date: '%Y' }}-exs">
				{{ post.content }}
				<iframe class="ex live" id="{{ post.date | date: '%Y' }}-live" src="" width="900" height="480"></iframe>
			</div>
		</article>
	{% endfor %}
</div>


{% include footer.html %}