body, html, *, h1, h2, p, a, p a {
	margin:0;
	padding:0;
}
h1 {
	font-family:arial;
	font-size:1.6em;
	color:#444;
}
#wrap {
	display:block;
	margin:10px auto;
	text-align:center;
}
.stroke {
	fill:none;
	stroke:#666;
	stroke-width:2px;
}
.graticule {
	fill:none;
	stroke:#333;
	stroke-width:0.5px;
	stroke-opacity:0.5;
}
.county {
	fill:#c0c0c0;
	stroke:white;
	stroke-width:0.2px;
}
.highlight {
	fill:#333;
}
.fill {
	fill: #fff;
}